body {
    background-color: hsla(179, 65%, 68%, 0.2);
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* typography */
h1 {
    font-family: Niramit, Arial, sans-serif;
}

h2 {
    font-family: Niramit, Arial, sans-serif;
    font-weight: bold;
}

.navbar {
    font-weight: 700;
}

.navbar .logo {
    font-family: Pattaya;
    font-size: larger;
}

/* css grid layout */
.container {
    display: grid;
    grid-template-areas: "nav nav"
                         "main main"
                         "footer footer";
}

.navbar {
    grid-area: nav;
    align-items: center;
    display: grid;
    grid-template-areas: "logo navigation cv";
    height: 4rem;
    column-gap: 0.5rem;
    grid-template-columns: 1fr 6fr 1fr;
}

.navbar .logo {
    grid-area: logo;
    justify-self: center;
}

.navbar .navigation {
    grid-area: navigation;
}

.navbar .download-cv {
    grid-area: cv;
    justify-self: end;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "bio picture"
                         "skills skills";
}

footer {
    grid-area: footer;
}


/* navbar styling */
.navbar {
    top: 0;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsla(179, 33%, 25%, 0.2);
}

.navbar .logo a{
    color:hsla(179, 33%, 25%, 0.667);
}

.navigation li{
    display: inline-block;
    padding: 1rem;
}

.navigation ul {
    text-align: justify;
}

.navbar .download-cv {
    padding: 1rem;
}

/* main styling */
main {

}

/* footer styling */
footer {
    height: 5rem;
    background-color: hsla(179, 33%, 25%, 0.2);
}

/* navbar animations */
