body {
    background-color: hsla(179, 60%, 75%, 0.2);
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* typography */
h1 {
    font-family: Niramit, Arial, sans-serif;
    font-size: xx-large;
}

h2 {
    font-family: Niramit, Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

h3 {
    font: Niramit, Arial, sans-serif;
    font-size: medium;
}

.navbar {
    font-weight: 400;
}

.navbar .logo {
    font-family: Pattaya;
    font-size: larger;
}


/* css grid layout */
.container {
    display: grid;
    grid-template-areas: "nav nav"
                         "main main"
                         "footer footer";
    row-gap: 2rem;
}

.navbar {
    grid-area: nav;
    align-items: center;
    display: grid;
    grid-template-areas: "logo navigation cv";
    height: 4rem;
    column-gap: 0.5rem;
    grid-template-columns: 1fr 6fr 1fr;
}

.navbar .logo {
    grid-area: logo;
    justify-self: center;
}

.navbar .navigation {
    grid-area: navigation;
}

.navbar .download-cv {
    grid-area: cv;
    justify-self: center;
}

/* css-grid of index.html main */
.home {
    grid-area: main;
    display: grid;
    grid-template-areas: "bio picture"
                         "skills skills";
}

.bio {
    grid-area: bio;
}

.profile-picture-container {
    grid-area: picture;
}

.technical-skills {
    grid-area: skills;
}

/* css-grid of projects.html main */
.projects {
    grid-area: main;
    display: grid;
    grid-template-areas: "android"
                         "web";
}

.projects .android-dev-projects {
    grid-area: android;
}

.projects .web-dev-projects {
    grid-area: web;
}

/* grid of projects.html main */
.education {
    grid-area: main;
    display: grid;
    grid-template-areas: "education"
                         "achievements"
                         "certificates";
}

.education .formal-education {
    grid-area: education;
}

.education .achievements-activities-failures {
    grid-area: achievements;
}

.education .certificates {
    grid-area: certificates;
}

/* grid of contact.html main */
.contact {
    grid-area: main;
    display: grid;
    grid-template-areas: "contact";
}

.contact .ways-of-contact {
    grid-area: contact;
}

footer {
    grid-area: footer;
}


/* navbar styling */
.navbar {
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsla(179, 33%, 25%, 0.2);
}

.navbar .logo a{
    color:hsla(179, 33%, 25%, 0.667);
}

.navigation li{
    display: inline-block;
    padding: 1rem;
}

.navigation ul {
    text-align: justify;
}

.current-page a{
    color: hsla(179, 65%, 49%, 0.785);
}

/* main styling */
main {
    padding: 0rem 3rem 0rem 3rem;
}

/* styling of index.html main */
.bio h1 {
    padding: 0.75rem 0 0.75rem 0;
}

.bio p {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 35rem;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
}

.profile-picture-container {
    padding: 3.5rem;
}

.profile-picture-container img {
    max-height: 20rem;
    border-radius: 0.5rem;
}

.technical-skills h1 {
    padding: 0.75rem 0 0.75rem 0;
}

.technical-skills div {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 35rem;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
}

.technical-skills h2 {
    font-weight: 500;
    background-color: hsl(33, 100%, 88%);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.technical-skills i {
    padding: 0.75rem;
}

.technical-skills .button {
    padding: 0.5rem;
    justify-self: end;
}

/* styiling of projects.html main */
.android-dev-projects h1{
    padding: 0.75rem 0 0.75rem 0;
}

.web-dev-projects h1 {
    padding: 0.75rem 0 0.75rem 0;
}

.image-processing-project {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(33, 100%, 88%);
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
    width: 50%;
}

.image-processing-project h2 {
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.solar-panel-project {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(33, 100%, 88%);
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
    width: 50%;
}

.solar-panel-project h2 {
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.portfolio-website-project {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(33, 100%, 88%);
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
    width: 50%;
}

.portfolio-website-project h2 {
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.android-dev-projects p {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 35rem;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
}

.web-dev-projects p {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 35rem;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;

}

.android-dev-projects .button {
    padding: 0.5rem;
    justify-self: end;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}

.web-dev-projects .button {
    padding: 0.5rem;
    justify-self: end;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}

/* styling of education.html main*/
.formal-education {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
    width: 75%;
}

.formal-education h2 {
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.formal-education h4 {
    font-weight: 500;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

#highschool h2 {
    display: inline-block;
}

#highschool #nsc {
    padding: 0rem 0em 0rem 0.5rem;
}

#highschool #school {
    padding: 0rem 0rem 0rem 0rem;
}

.formal-education #nsc {
    font-style: italic;
    color: hsl(32, 100%, 77%);
}

.achievements-activities-failures {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
    width: 75%;
}

.achievements-activities-failures h2 {
    font-weight: 500;
    padding: 0.5rem;
}

.achievements-activities-failures h3 {
    font-weight: 100;
    padding: 0rem 1rem 0rem 1rem;
}

.certificates {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    margin: 1rem 0 1rem 0;
    display: grid;
    width: 75%;
}

.certificates h2 {
    font-weight: 500;
    padding: 0.5rem;
}

.certificates h3 {
    font-weight: 500;
    padding: 0rem 1rem 0rem 1rem;
}

/* styling of contacts.html main*/
.contact {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.contact .ways-of-contact h2 {
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.ways-of-contact i {
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

/* footer styling */
footer {
    height: 5rem;
    border-top: 1px solid hsla(179, 33%, 25%, 0.2);
    padding: 1rem;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer .footer {
}

footer li {
    display: inline-block;
}

footer i {
    padding: 0.75rem;
}

/* animations and transitions */
a {
    transition: all 200ms ease;
}

a:hover {
    color: hsl(33, 100%, 88%);
}
